/* General Styles */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;

    /* background-color: #eeeeef; */
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    /* border: 1px solid #ddd; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    overflow: hidden;
}

.left-panel {
    flex: 1;
    position: relative;
    background: white;
}

.background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.8; */
}

.right-panel {
    flex: 1;
    background: white;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.google-signin {
    width: 100%;
    padding: 10px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: black;
    font-size: 12px;
    margin: 20px auto 15px auto;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1.4px solid #ccc;
    border-radius: 7px;
}

.options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.forgot {
    font-size: 14px;
    color: #4285F4;
    text-decoration: none;
}

.signin-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(32, 1, 82);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;

}

.signin-button:hover {
    background-color: rgb(64, 2, 131);
    transition: all 0.5s ease;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
    color: black;
}

.signup a {
    color: #4285F4;
    text-decoration: none;
}
