<footer class="py-6 text-white bg-gray-800">
  <div class="container mx-auto text-center">
    <p class="mb-4 text-sm">©
      <script>document.write(new Date().getFullYear());</script> TailorWind. All rights reserved.
    </p>
    <a href="https://github.com/androidvitb/Tailorwind" target="_blank" class="text-[#049b9f] hover:underline">
      Visit us on GitHub
    </a>
  </div>
</footer>